@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    /* Add these styles to your CSS */
    
.slick-prev {
  z-index: 1;
  left: -5px; /* Adjust the positioning as needed */

  
}

.slick-prev:before, .slick-next:before{
  color: gray;
  height: 40px;
  width: 40px;
}

.slick-next {
  z-index: 1;
  right: -5px;
 
}

.slick-dots {
  bottom: 0px; 
}
} 



